body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
}

.header {
    height: 13%;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: #2e4f84;
}

.cont {
    margin: 0 auto;
    height: 130px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont ul li {
    padding: 8px;
    margin-left: 8px;
    list-style: none;
}

.cont ul li a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-family: 'Griffy', cursive;
}

#logo {
    color: white;
    font-size: 240%;
    font-family: 'Griffy', cursive;
    transition: all 600ms ease-in-out;
}

#logo:hover {
    text-decoration: none;
    color: red;
}

.cont ul li a:hover {
    color: red;
}


/* end of header */


/* home */

.homealone {
    width: 100%;
}

.home {
    padding: 0.11px;
    margin-right: 0px;
    float: left;
    height: 77%;
    width: 100%;
    border-right: 2px solid black;
    font-family: 'Arvo', serif;
}

.two {
    display: flex;
    flex-direction: row;
}

#design {
    width: 50%;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    animation: left 800ms forwards;
}

@keyframes left {
    0% {
        transform: translateX(-800px);
    }
    100% {
        transform: translateX(0);
    }
}

#design h2 {
    font-family: 'Griffy', cursive;
    font-size: 300%;
}

#design p {
    width: 60%;
    font-size: 130%;
    line-height: 120%;
}

#design img {
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#developer img {
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#developer {
    width: 50%;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    animation: right 800ms forwards;
}

@keyframes right {
    0% {
        transform: translateX(800px);
    }
    100% {
        transform: translateX(0);
    }
}

#developer h2 {
    font-family: 'Griffy', cursive;
    font-size: 300%;
}

#developer p {
    width: 60%;
    font-size: 130%;
    line-height: 120%;
}

#sidecont {
    display: none;
    width: 50%;
    height: 770px;
    padding: 0.11px;
    float: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidecont h3 {
    font-size: 350%;
    margin-bottom: 60px;
    font-family: 'Griffy', cursive;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'Arvo', serif;
}

.fadeout {
    display: none !important;
    animation: left 500ms forwards;
}

.fadein {
    display: flex;
    animation: fade 500ms forwards;
    animation: right 500ms forwards;
}

.appear {
    animation: fade 500ms forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#skills h5 {
    font-size: 200%;
}

#text {
    font-size: 200%;
    width: 70%;
    margin-bottom: 30px;
}

.info {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.apper-appear {
    opacity: 0.01;
}

.apper-appear-active {
    opacity: 1;
    transition: opacity 1500ms ease-in-out;
}

.apper-enter {
    opacity: 0;
}

.apper-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.apper-leave {
    opacity: 0;
}

.apper-leaveactive {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.main-appear {
    opacity: 0.1;
}

.main-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}

#next {
    font-size: 130%;
}

#bt {
    font-size: 130%;
}


/* end of home */


/* begin about */

.about {
    width: 100%;
    height: 770px;
    padding: 0.11px;
}

.about h3 {
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size: 220%;
}

.about img {
    width: 360px;
    float: left;
    margin-bottom: 200px;
}

.tex {
    margin-left: 370px;
}

.bout {
    width: 60%;
    margin: 40 auto;
}


/* end about */


/* begin portfolio */

#port {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#port h3 {
    font-family: 'Griffy', cursive;
    font-size: 220%;
}

#port img {
    border: 3px solid black;
    width: 63%;
}

.infosite {
    padding-left: 16px;
    padding-right: 10px;
    font-weight: 600;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left {
    position: absolute;
    font-size: 400%;
    left: 10%;
    top: 50%;
}

#left:hover {
    color: red;
    cursor: pointer;
}

#right {
    position: absolute;
    font-size: 400%;
    left: 90%;
    top: 50%;
}

#right:hover {
    color: red;
    cursor: pointer;
}


/* end portfolio */


/* contact begin */

.contact {
    padding: 0.11px;
    width: 100%;
    height: 770px;
    background-color: #2e4f84;
}

.contact h3 {
    color: white;
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size: 250%;
}

#conta {
    width: 60%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 40px;
}

.contact button {
    margin-top: 20px;
    margin-left: 50%;
    font-size: 159%;
}

#conta input {
    margin-bottom: 30;
}

#conta label {
    color: white;
}

#submit {
    display: none;
    margin-top: 20px;
    margin-left: 50%;
    font-size: 159%;
}

#final {
    width: 60%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 40px;
}

#final label {
    color: white;
}

#final input {
    width: 70%;
}


/* contact end */


/* blog brgins */

.blog {
    width: 100%;
}

.blog h5 {
    text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 250%;
}

.posts {
    width: 60%;
    margin: 0 auto;
    height: 200px;
    border-bottom: 2px solid #2e4f84;
}

.titblog {
    text-align: center;
}

.posts img {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.conten {
    height: 40px;
    overflow: hidden;
}

.po {
    width: 100%;
}

.post {
    border-left: 2px solid #2e4f84;
    border-right: 2px solid #2e4f84;
    width: 60%;
    height: 770px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.post h4 {
    text-align: center;
    margin-top: 40px;
    font-size: 220%;
    font-family: 'Arvo', serif;
}

.post img {
    width: 800px;
}

.text {
    width: 72%;
    padding-bottom: 150px;
    font-family: 'Arvo', serif;
    font-size: 140%;
}

.date {
    margin-bottom: 60px;
    margin-right: 600px;
}


/* blog ends */


/* footer begin */

.footer {
    position: fixed;
    border-top: 2px solid black;
    top: 90%;
    background-color: #2e4f84;
    height: 10%;
    width: 100%;
}

.social {
    font-size: 250%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social a {
    color: white;
    transition: all 600ms ease-in-out;
}

.social a:hover {
    transform: scale(1.2);
    color: white;
}

.social i {
    padding: 10px;
}


/* footer end */